div#ad {
    font-size: 83px;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-top: 230px;
}
p#clickHere {
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/pairPanel.jpg) no-repeat;
    background-size: cover; 
}
div#pleaseplace {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
/*TOPBAR*/
#topbar {
    /* background-color: #99cc66; */
    width: 100%;
    min-width: 1100px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
#topbarwrap{
	margin: 0 auto;
	text-align:center;
}

div#topbarcopy {
    margin-top: 15px;
    width: 590px;
}
div#topbuttonwrap {
    width: 150px;

}
div#topbarinner a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 68px;
    text-align: center;
}
#topbarbutton {
    background-color: #ff9966;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px lightgrey;
    margin-top: 5px;
    margin-left: 20px;
    width: 120px;
        border-radius: 5px;
}

#topbarbutton:hover{
	box-shadow: none;
    margin-top: 7px;
    margin-left:22px;
}
#topbuttona{text-decoration:none;}

/*INDEXWRAP*/
#index_wrap{
	width: 1100px;
	margin:0 auto;
}



/*SECTION1*/
div#islandsWrap img {
    width: 370px;
    margin-top: 20px;
}
div#enjoyBenefits {
    width: 380px;
    margin: 0 auto;
    margin-top: 20px;
}
/*CAROUSEL*/
.carousel {
    position: relative;
    height: 600px;
    width: 1080px;
    margin: 0 auto;
    border: 10px solid white;
    /*margin-top: 30px;*/
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item .carouselimages {
    display: block;
}

.carousel-control {
    cursor: pointer;
    display: none;
    font-size: 40px;
    top: 240px;
    cursor: pointer;
    z-index: 1;
}
/*#carousel-3:checked ~ .control-3*/
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2{
    display: block;
}
.carousel-open{
	visibility:hidden;
}
.leftside {
    width: 50px;
    height: 50px;
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
}
.rightside {
    width: 50px;
    height: 50px;
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position:absolute;
    margin-top: 50px;
    right: 25px;
}
.carousel-control.prev{
    width: 74px;
    height: 150px;
    position: absolute;
    border-radius: 5px;
    margin-left: 10px;
}
.carousel-control.prev:hover {
    background-color: rgba(0,0,0,.5);
    
}
.carousel-control.next{
    width: 74px;
    height: 150px;
    position: absolute;
    border-radius: 5px;
    margin-left: 10px;
    right:20px;
}
.carousel-control.next:hover {
    background-color: rgba(0,0,0,.5);
    
}
.carousel-control:hover {

}
#carousel1 {
    background: url(../images/pairPanel.jpg)center top no-repeat;
    height: 600px;

    margin: 0 auto;
    background-position: -150px -340px;
    background-size: 115%;
}
#singlePanelImage {
    background: url(../images/singlePanel.jpg)center top no-repeat;
    background-size: contain;
    height: 600px;
    width: 300px;
}
#doublePanelImage {
    background: url(../images/pairPanel.jpg)center top no-repeat;
    background-size: contain;
    height: 600px;
    width: 366px;
}
#carousel2 {
    background-color: white;
}
div#c2copy {
    width: 405px;
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-left: 0;
    padding: 0;
    height: auto;   
    padding-top: 50px;
    text-shadow: 2px 2px 2px lightgrey;
}
#carousel2 {
    /*background: url(../images/singlePanel.jpg)center top no-repeat;
    height: 750px;
    margin: 0 auto;
    background-position: center -100px;
    background-size: contain;
    background-color: rgba(255,255,255,.5);*/
}
/*#carousel3{
    background: url(../images/fabrics.png)center top no-repeat;
    height: 600px;
    width: 1100px;
    margin: 0 auto;
    background-size: contain;
}*/
div.carouselcopy {
    padding: 50px 0;
    text-align: left;
    height: 110px;
    margin-left: 90px;
    position: absolute;
    bottom: 0;
    font-size: 92px;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}
#s3leftcopy p#describeSand {
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
}
div#freight {
    text-align: center;
    margin-top: 10px;
}
/*SECTION2*/
div#section2{
    border-top: 2px solid lightgrey;
    margin-top: 30px;
    
}
div#forOther {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
div#aloha {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
}
div#aloha p {
    margin: 0;
    line-height: 24px;
    text-align: justify;
}
#section2 h1#alohadrapery {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 45px;
}
/*div#video {
    height: 360px;
    background-color: white;
    width: 570px;
    margin-left: 30px;
    margin-top: 30px;
}*/
#aloha a {
    color: #cc0033;
    font-weight: bold;
    font-size: 20px;
}
/*#video p {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}
*/
select#widthFractions {
    width: 60px;
}
select#heightFractions {
    width: 60px;
}
input#quoteWidth {
    width: 160px;
}
input#quoteHeight
{
    width: 160px;
}
p.inches {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0;
}
div#form .padLeft {
    padding-left: 80px;
}
select#fabricQuote {
    width: 285px;
}
select#liningQuote {
    width: 285px;
}
/*SECTION3*/

/*LEFT*/
div#section3 {
    border-top: 2px solid lightgrey;
    margin-top: 30px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 30px;
}
#singlePanel{
    /*background:url(../images/singlePanel.jpg)center top no-repeat;*/
}
div#singlePanel {
    width: 630px;
    background-color: rgba(255,255,255,.3);
    margin-top: 30px;
    border: 10px solid white;
    padding-bottom: 10px;
}
div#sandheight {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: 130px;
    font-size: 22px;
    width: 150px;
    margin-left: -40px;
}
div#sandwidth {
    font-size: 22px;
    margin-left: 245px;
    margin-bottom: 10px;
    margin-top: 20px;
}
div#s3leftcopy p, h1 {
    text-align: center;
}
div#widths {
    margin-left: -55px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
}
.heights{
    border-right: 1px solid grey;
    padding-right: 11px;
}
.widths {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
div#space {
    border-right: none;
}
.widthslabel {
    border-bottom: 1px solid grey;
    width: 45px;
    padding: 0;
    margin: 0;
}
div#s3leftcopy p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 6px;
}
div#s3leftcopy h1 {
    width: 380px;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
#sandimage {
    background: url(../images/sand.jpg)center top no-repeat;
    height: 250px;
    width: 340px;
    border: 5px solid white;
    margin: 0 auto;
    margin-bottom: 30px;
}
div#ordernowbutton a {
    background-color: #ff9966;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px lightgrey;
    width: 240px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 22px;
}
div#ordernowbutton{
    text-align: center;
    margin-top: 180px;
    display:none;
}
#sandimage:hover div#ordernowbutton{
    display:block;
}
/*RIGHT*/
.attachedLining:hover .hide{
    display:inline-block;
}
button#getQuote {
    background-color: #ff9966;
    padding: 10px 30px;
    color: white;
    box-shadow: 2px 2px 2px lightgrey;

    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    /*float: right;*/
    margin-right: 10px;
    cursor:pointer;
}
button#getQuote:hover{
    box-shadow: none;
    /*margin-top: 17px;*/
    margin-right:8px;
}
div#samples {
    width: 540px;
    padding-top: 30px;
}
#samplestop {
    
}
a#placeorder {
    text-decoration: none;
}
#samplestop p {
    margin: 0;
    text-align: center;
    line-height: 40px;
}
h1#sampletitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    
}
div#freesamples {
    background-color: #ff9966;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px lightgrey;
    margin-top: 5px;
    margin-left: 10px;
    width: 240px;
    text-align: center;
        border-radius: 5px;
}
a#freesamplelink {
    text-decoration: none;
}

div#freesamples:hover{
    box-shadow: none;
    margin-top: 7px;
    margin-left:12px;
}
div.swatcheswrap {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    margin-top: 15px;
    border: 5px solid white;
    overflow: hidden;
}
.swatchesinfo{
    width: 170px;
}
div#samplewrap {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 280px;
}
.swatches {
    height: 300px;
    width: 300px;
    margin-left: -10px;
    margin-top: -10px;
    border: 10px solid white;
}
.swatcheswrap:hover .swatches:nth-child(1n){
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.swatcheswrap::selection .swatches:nth-child(1n) .description{
    display:block;
}
.swatcheswrap:hover .swatches:nth-child(1n) .description{
    display:block;
}
#swatch2wrap:hover #swatch2{
    margin-left: -115px;
}
#swatch3wrap:hover #swatch3{
    margin-left: -215px;
}
#swatch5wrap:hover #swatch5{
    margin-left: -115px;
}
#swatch6wrap:hover #swatch6{
    margin-left: -215px;
}
#swatch8wrap:hover #swatch8{
    margin-left: -115px;
}
#swatch9wrap:hover #swatch9{
    margin-left: -215px;
}
#swatch11wrap:hover #swatch11{
    margin-left: -115px;
}
#swatch12wrap:hover #swatch12{
    margin-left: -215px;
}
/*#swatch8wrap:hover #swatch8{
    margin-left: -215px;
}*/
#swatch1{
    background:url(../images/BREEZE_NATURAL_1_3739.jpg)center top no-repeat;
}
#swatch2{
    background:url(../images/BREEZE_TAN_1_3749.jpg)center top no-repeat;
}
#swatch3{
    background:url(../images/tradewinds.jpg)center top no-repeat;
}
#swatch4{
    background:url(../images/sand.jpg)center top no-repeat;
}
#swatch5{
    background:url(../images/seashore.jpg)center top no-repeat;
}
#swatch6{
    background:url(../images/coral.jpg)center top no-repeat;
}
#swatch7{
    background:url(../images/TWILIGHT_BEIGE_1_3735.jpg)center top no-repeat;
}
#swatch8{
    background:url(../images/TWILIGHT_GRAY_1_3731.jpg)center top no-repeat;
}
 #swatch9{
    background:url(../images/shadow.jpg)center top no-repeat;
}
#swatch10{
    background:url(../images/cloudsi.jpg)center top no-repeat;
}
#swatch11{
    background:url(../images/cloudsw.jpg)center top no-repeat;
}
#swatch12{
    background:url(../images/roclon.jpg)center top no-repeat;
}
select.formfields {
    height: 40px;
    border: 1px solid lightgrey;
        width: 205px;
    margin-top: 10px;
        margin-left: 1px;
    font-size: 16px;
    margin-bottom: 10px;
}
a.orderb{
    text-decoration: none;
}
div.swatches .description .dleftcopy p {
    margin-bottom: 10px;
}
img#singlePanel {
    width: 405px;
    margin-left: 20px;
    margin-top: 30px;
    border: 9px solid white;
    box-shadow: 1px 1px 0px grey;
    border-radius: 5px;
}
img.washInstructions.ib {
    width: 40px;
}
.flameResistant {
    margin-top: -3px;
    font-size: 24px;
    font-style: italic;
    margin-right: 10px;
}
.orderbutton {
    background-color: #ff9966;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px lightgrey;
    margin-top: 20px;
    margin-left: 20px;
    width: 140px;
    text-align: center;
}
.swatches span.tac a {
    text-decoration: none;
    color: black;
}
.orderbutton:hover{
    box-shadow: none;
    margin-top: 22px;
    margin-left:22px;
}
div.productinfo {
    text-align: center;
    width: 130px;
    margin: 0 auto;
    margin-top: 10px;
}
.description {
    display: none;
    position: absolute;
    width: 280px;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    text-align: center;
    bottom: 0;
}
.description h1, p {
    margin: 0;
}
.dleftcopy.ib {
}
.leftpad {
       margin-left: 10px;
}
#getquote p,h1{
    margin:0;
}
#getquote h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
#quote{
    padding-top: 20px;
    /*border-top: 2px solid lightgrey;*/
    margin-top: 30px;
}
#getquote p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;   
}
.label {
    text-align: center;
}
input.formfields {
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
        margin-left: 1px;
    margin-top: 10px;
    font-size: 18px;
        width: 140px;
    padding-left: 10px;
        margin-bottom: 10px;   
}
#totalbutton {
        background-color: #cc0033;
    padding: 10px;
        width: 320px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    /* float: right; */
    font-weight: bold;
    margin-top: 50px;
    box-shadow: 2px 2px 2px grey;
    color: white;
}
#totalbutton:hover{
    box-shadow: none;
    /*margin-left: 100px;*/
}
div#totals {
    
    line-height: 24px;
    margin-top: 10px;
}
div#freight {
   text-align: center;
}
#totals .label.ib {
    /*width: 180px;*/
    text-align: right;
    margin-right: 20px;

}
p#exclusivebottom {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}
div#form {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}
div#getquotesnow p {
    text-align: center;
    margin-bottom: 10px;
}
/*FOOTER*/
/*#footerleft h1{
    color:#cc0033;
}*/

div#getquotesnow {
    width: 550px;
    padding-top: 50px;
}
#contact{
    display: none;
}
#contact a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
div#facefabric {
    background-color: #39a6f4;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}
div#lining {
    background-color: #6bc1ff;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}
.swatchestitles {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

div#lininginfo {
    width: 100%;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;    
}
div#lininginfo a {
    color:black;
    display: inline-block;
    text-decoration: underline;
}
.totalprice.totals.ib {
    font-weight: bold;
    font-size: 24px;
}
div#footerleft h1 {
    text-align: left;
}
@media only screen and (max-width:960px){

}
.lead-scroll {
    padding: 0px 0;
    width: 140px;
    height: 100px;
    z-index: 100;
    margin: 0 auto;
}
.lead-scroll .arrows {
   width: 60px;
    height: 100px;
    margin: 0 auto;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    max-height: 100%;
}

.lead-scroll .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}
.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}
.arrows path.a2 {
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}
.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
div#toparrows {
    margin-top: 140px;
}
a#anchor div {
    font-size: 24px;
}
img#attachedImage {
    width: 90%;
    margin-top: 20px;
}
div#attachedLiningContain p {
    margin-top: 0;
}
@keyframes arrow {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
.frLabel {
    font-size: 14px;
    display: block;
    margin-top: -2px;
}