/*CAROUSEL*/
.carousel {
    position: relative;
    height: 600px;
    width: 1080px;
    margin: 0 auto;
    border: 10px solid white;
    /*margin-top: 30px;*/
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item .carouselimages {
    display: block;
}

.carousel-control {
    cursor: pointer;
    display: none;
    font-size: 40px;
    top: 240px;
    cursor: pointer;
    z-index: 1;
}
/*#carousel-3:checked ~ .control-3*/
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-open{
	visibility:hidden;
}
.leftside {
    width: 50px;
    height: 50px;
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
}
.rightside {
    width: 50px;
    height: 50px;
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position:absolute;
    margin-top: 50px;
    right: 25px;
}
.carousel-control.prev{
    width: 74px;
    height: 150px;
    position: absolute;
    border-radius: 5px;
    margin-left: 10px;
}
.carousel-control.prev:hover {
    background-color: rgba(0,0,0,.5);
    
}
.carousel-control.next{
    width: 74px;
    height: 150px;
    position: absolute;
    border-radius: 5px;
    margin-left: 10px;
    right:20px;
}
.carousel-control.next:hover {
    background-color: rgba(0,0,0,.5);
    
}
.carousel-control:hover {

}
#carousel1 {
    background: url(../images/pairPanel.jpg)center top no-repeat;
    height: 600px;

    margin: 0 auto;
    background-position: -150px -340px;
    background-size: 115%;
}
#singlePanelImage {
    background: url(../images/singlePanel.jpg)center top no-repeat;
    background-size: contain;
    height: 600px;
    width: 300px;
}
#doublePanelImage {
    background: url(../images/pairPanel.jpg)center top no-repeat;
    background-size: contain;
    height: 600px;
    width: 366px;
}
#carousel2 {
    background-color: white;
}
div#c2copy {
    width: 405px;
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-left: 0;
    padding: 0;
    height: auto;   
    padding-top: 50px;
    text-shadow: 2px 2px 2px lightgrey;
}
#carousel2 {
    background: url(../images/singlePanel.jpg)center top no-repeat;
    height: 750px;
    margin: 0 auto;
    background-position: center -100px;
    background-size: contain;
    background-color: rgba(255,255,255,.5);
}
#carousel3{
    background: url(../images/fabrics.png)center top no-repeat;
    height: 600px;
    width: 1100px;
    margin: 0 auto;
    background-size: contain;
}
div.carouselcopy {
    padding: 50px 0;
    text-align: left;
    height: 110px;
    margin-left: 90px;
    position: absolute;
    bottom: 0;
    font-size: 92px;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}
